@model List<DoctorGetVM>



<div class="container">
    <div class="row">
        <h1>Doctors</h1>
        <a asp-controller="Doctor" asp-action="Create" class="btn btn-success">Add new Doctor</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Image</th>
                    <th scope="col">Speciality</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Fullname</td>
                        <td>@(item.Email is null ? "no email" : item.Email)</td>
                        <td>@item.PhoneNumber</td>
                        <td><img src="~/images/@item.ImagePath" alt="@item.Fullname" /></td>
                        <td>@item.SpecialityName</td>
                        <td>
                            <a asp-controller="Doctor" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">🖊️</a>
                            <a asp-controller="Doctor" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">🗑️</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>